
**Vectors R Programming**

The simplest and most common data structure in R is the vector. Vectors come in two different flavors: atomic vectors and lists. An atomic vector contains exactly one data type, whereas a list may contain multiple data types.

Atomic vectors include logical, character, integer, and complex. Logical vectors can contain the values TRUE, FALSE, and NA (for 'not available').These values are generated as the result of logical 'conditions'.

Complet following couple of code cell to genearate a logical vector in variable logic_vect

In [ ]:
# Create a vector num_vect with values -100, 0.55, 45, 5466
num_vect<-c(-100,0.55,45,5466)
num_vect

[1] -100.00    0.55   45.00 5466.00

In [ ]:
#Now, create a variable called logic_vect that gets the result of num_vect <= 0.55, which is read as 'num_vect is less than 0.55'.
logic_vect <- num_vect <=0.55

If you print logic_vect. you will see that is is a logical vector with 4 values. Print logic_vect in cell below to verify it

In [ ]:
#print logic_vect

In [ ]:
logic_vect

Output: TRUE TRUE FALSE FALSE

In [ ]:
#Type num_vect >= 6 and note the output

In [ ]:
logic_vect <- num_vect >= 6
logic_vect

Output: FALSE FALSE TRUE TRUE

Character vectors

Character vectors are also very common in R. Double quotes are used to distinguish character objects.

In [ ]:
# Create a character vector that contains the following words: "My", "name", "is". 
#Remember to enclose each word in its own set of double quotes, 
#so that R knows they are character strings. Store the vector in a variable called char_vect.

In [ ]:
char_vect <- c("My", "name", "is")

In [ ]:
# print the char_vect

In [ ]:
char_vect

Output: "My"  "name" "is"

In [ ]:
#use paste(char_vect, collapse=" ")
"My name is"

Explain What difference you see in above two code blocks

 My explaination:
 In this example, in the first code block, char_vect is a character vector with length 3. In the second code block, we join the elements of char_vect together into one character string. this is done by paste() function. In the second code block, char_vect is a character vector with length 1.

In [ ]:
# add your name as an element to char_vect and paste complete sentence saying "My name is <your name>"

here, I create new vector to store the result of new vector with new element.

In [ ]:
my_name <- c(char_vect, "Saurabh")
paste(my_name, collapse = " ")

Output: "My name is Saurabh"

In [ ]:
#Execute this code block
paste("Hello","World!",collapse=" ")

Output: "Hello World!"

Explain output of code block above.

here, In this example, paste() function is used to join the elements of two vectors into a single string with collapse=" ".

In [ ]:
#Execute this 
paste(1:3, c("X", "Y", "Z"), sep = ":")

In [ ]:
"1:X" "2:Y" "3:Z"

Explain output of above code block

In this example , we join two vectors with length 3 using paste() function. here, sep argument is used to seperate the values with ":" and join the elements.

In [ ]:
#Executes this LETTERS is 
paste(LETTERS, 1:10, sep = "-")

In [ ]:
"A-1"  "B-2"  "C-3"  "D-4"  "E-5"  "F-6"  "G-7" 
"H-8"  "I-9"  "J-10" "K-1"  "L-2"  "M-3"  "N-4" 
"O-5"  "P-6"  "Q-7"  "R-8"  "S-9"  "T-10" "U-1" 
"V-2"  "W-3"  "X-4"  "Y-5"  "Z-6"

Explain output of above code block

here, character vector LETTERS is longer tha numeric vector 1:10. hence, R repeats 1:10 untill it matches length of character vector.

**Write R code to Solve Following**
1.   To begin with create a vecor **a** of 20 random values from Std Normal Variable.
2.   Creat another vector **b** of 20 NA values. Also create vector x
3.   Sample 20 values from above two vectors. 
4.   Subset  10th to 15th element from x to generate sample y
5.   Count NAs in vector x and y

In [ ]:
a <- rnorm(20)

0.81934544  0.25569896  1.27275497 -0.98593604
1.12016907  0.71636700 -1.17386050  1.38105600
-0.23083861  2.45734825 -0.96663165  0.51654543
2.34258692 -0.94517911 -0.85720948 -0.01970195
-1.30903909  0.60654486  1.07153600  0.84873973

In [ ]:
 b <- rep(NA, 20)
 b

NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA
NA NA NA

In [ ]:
x <- c(a,b)
x <- sample(x,20, replace = FALSE)
x

   [1]         NA         NA  1.0715360 -1.1738605
 [5]  0.2556990  1.1201691         NA  1.3810560
 [9]         NA         NA -1.3090391 -0.9451791
[13]         NA         NA         NA         NA
[17]  0.6065449         NA -0.9859360  0.8487397

In [ ]:
n <- x
y <- x[6:10]
y

[1] 1.120169       NA 1.381056       NA       NA

In [ ]:
sum(is.na(x))

9

In [ ]:
sum(is.na(y))

4